svg {
    pointer-events: none;
}

.alerts {
    position: fixed;
    top: 5%;
    width: 80%;
    left: 10%;
}

@media screen and (min-width: 50rem) {
    .alerts {
        width: 40%;
        left: 15%;
    }
}